<div class="search">
  <%= form_tag(movies_path, method: "get") do %>
    <span class="form<span>-group">
      <%= text_field_tag(:search, nil, placeholder: 'Title or Director') %>
    </span>
    <span class="form-group">
    <%= select_tag "duration", options_for_select([["Under 90 minutes", "< 90"], ["Between 90 and 120 minutes", "between 90 and 120"], ["Over 120 minutes", "> 120"]]), include_blank: true %>
    </span>
    <%= submit_tag("Search") %>
  <% end %>
</div>